html {
    box-sizing: border-box;
    font-size: 62.5%;
}
* {
    font-family: "Lucida Console", monospace;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.ActivationSuccessfulPage {
    background-image: url(../svg-assets/activation-successful.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.no_scroll {
    overflow-y: hidden;
}

.auth_success {
    display: flex;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.auth_success_text {
    font-size: 7rem;
}

.login {
    position: relative;
    font-size: 2.5rem;
    color: grey;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    color: grey;
}
a:hover {
    text-decoration: underline;
}