html {
    box-sizing: border-box;
    font-size: 62.5%;
}
* {
    font-family: "Lucida Console", monospace;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.scroll {
    overflow: hidden;
    
}

.EditUserDetailsPage {
    height: 100vh;
    background-image: url(../svg-assets/edit-user-details-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 3%;
    padding: 2% 2% 2% 2%;
    border-radius: 10%;
    border: 1px solid #786c78;
    max-width: 100rem;
}

.edit_details {
    font-size: 5rem;
    align-self: center;
    position: relative;
    left: 20%;
}

.label_edit_user,
.input_user_details {
    display: block;
}
.label_edit_user {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.input_user_details {
    padding: 1rem;
    margin-bottom: 3rem;
    width: 40rem;
    font-size: 2rem;
    border: 2px solid black;
}
.btn_edit_user {
    display: inline-block;
    padding: 1.5rem 3.5rem;
    background-color: #ffffff;
    box-shadow: 0.6rem 0.6rem 0 #404040;
    border: solid black 1px;
    transition: all 0.15s linear 0s;
    position: relative;
    margin-bottom: 2%;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    align-content: center;
    margin-right: 10%;
    top: 10%;
}
.btn_edit_user:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0 #404040;
}

.btn_edit_user:active {
    transform: translate(6px, 6px);
    box-shadow: none;
}
