html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    font-family: "Lucida Console", monospace;
}

.EmailHasBeenSentForActivationPage {
    height: 100vh;
    background-image: url(../svg-assets/activation-successful.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll {
    overflow: hidden;
}

.email_container {
    display: flex;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

.email_sent {
    font-size: 7rem;
}

.check_email {
    font-size: 3rem;
}

.return {
    position: absolute;
    text-decoration: none;
    font-size: 2.5rem;
    color: grey;
    bottom: 2rem;
}
.return:hover {
    text-decoration: underline;
}