html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    font-family: "Lucida Console", monospace;
}

.scroll {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

.ForgotPasswordPage {
    height: 100vh;
    background-image: url(../svg-assets/activation-successful.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.email_reset_container {
    background-color: white;
    border: 1px solid black;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    /*width: 60%;*/
    /*margin-top: 15rem;*/
    margin-left: 2rem;
    /*min-height: 50%;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.email_reset_heading {
    font-size: 4.5rem;
    align-self: center;
    padding: 0 2rem;
    margin-bottom: 3rem;
}
.email_label,
.email_input {
    display: block;
}
.email_label {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.email_input {
    padding: 0.5rem;
    margin-bottom: 4rem;
    width: 25rem;
    font-size: 2rem;
    border: 2px solid black;
}
.btn_reset_email {
    display: block;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 1rem 0.6rem 0px #404040;
    border: solid black 2px;
    transition: all 0.15s linear 0s;
    position: relative;
    /*margin-bottom: 10%;*/
    margin-bottom: 5rem;
    font-size: 2.0rem;
    align-self: center;
    text-align: center;
}
.btn_reset_email:hover {
    transform: translate(0.2px, 0.2px);
    box-shadow: 0.3rem 0.3rem 0 #404040;
}

.btn_reset_email:active {
    transform: translate(0.6rem, 0.6rem);
    box-shadow: none;
}

