html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    font-family: "Lucida Console", monospace;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow-y: hidden;
}

.scroll_listings {
    background-image: url(../svg-assets/listings-bg.svg);
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
}

.listings_text {
    margin-right: 10%;
    font-size: 6rem;
}

nav {
    justify-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 2.5rem;
    background-color: white;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    padding: 0 3rem;
    color: black;
    transition: all 0.15s linear 0s;
}

a:hover {
    border-radius: 2.5rem;
    color: white;
    background-color: black;
}

a:focus {
    border-radius: 2.5rem;
    color: white;
    background-color: black;
}

.bottom_part {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}

.listings_body {
    width: 60%;
    border: 1px solid black;
    max-height: 54rem;
    overflow-y: scroll;
    z-index: 1;
}

.post {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid black;
    justify-content: flex-start;
    background-color: white;
}

img {
    margin-right: 10%;
    width: 20rem;
    height: 20rem;
}

.post_content {
    font-size: 2rem;
}

.btn_listings {
    display: block;
    padding: 0.5rem 1.5rem;
    background-color: #ffffff;
    box-shadow: 1rem 0.6rem 0px #404040;
    border: solid black 2px;
    transition: all 0.15s linear 0s;
    position: relative;
    margin-bottom: 10%;
    font-size: 2rem;
    align-self: center;
    text-align: center;
}
.btn_listings:hover {
    transform: translate(0.2px, 0.2px);
    box-shadow: 0.3rem 0.3rem 0 #404040;
}

.btn_listings:active {
    transform: translate(0.6rem, 0.6rem);
    box-shadow: none;
}
