html {
    box-sizing: border-box;
    font-size: 62.5%;
}
* {
    font-family: "Lucida Console", monospace;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.scroll {
    overflow: hidden;
}

.LogoutPage {
    background-image: url(../svg-assets/logout-page.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.thank_you {
    display: flex;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.thank_text {
    font-size: 7rem;
}

h1 .seeusoon {
    font-size: 7rem;
    color: black;
}

.login {
    position: relative;
    top: 15%;
    font-size: 2.5rem;
    color: grey;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    color: grey;
}
a:hover {
    text-decoration: underline;
}
