.post_content {
    font-size: 2rem;
}

.post {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid black;
    justify-content: flex-start;
    background-color: white;
    text-align: left;
}

.post_details {
    color: black;
    font-size: 2rem;
    text-align: left;
}

.post_details a {
    color: black;
    font-size: 2rem;
    text-align: left;
}

