.PostInfoPage {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url(../svg-assets/background-1.svg);
    height: 100vh;
}
.button_list {
    display: flex;
    padding-left: 2rem;
}
.btn_post {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: #ffffff;
    box-shadow: 1rem 0.6rem 0px #404040;
    border: solid black 2px;
    transition: all 0.15s linear 0s;
    position: relative;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
    margin-right: 2rem;
}
.btn_post:hover {
    transform: translate(0.2px, 0.2px);
    box-shadow: 0.3rem 0.3rem 0 #404040;
}

.btn_post:active {
    transform: translate(0.6rem, 0.6rem);
    box-shadow: none;
}
.post_info {
    margin: 0 auto;
    width: 60%;
    border: 1px solid black;
    /*max-height: 54rem;*/
}

.heading {
    text-align: center;
}

.non_owner {
    margin: 2rem auto 0rem;
    /*border: 1px solid black;*/
}
.owner_rights {
    padding-top: 3rem;
    margin: 3rem auto;
    display: flex;
    border: 1px dashed black;
    width: 40%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
fieldset {
    padding: 2rem;
    backdrop-filter: blur(10px);
}
legend {
    font-size: 2rem;
}

.navigation {
    font-family: monospace;
    position: absolute;
    top: 0;
    right: 1rem;
}

ul {
    /*background: #f5f5f5;*/
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: black;
    display: block;
    float: left;
    padding: 1.5rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    text-align: right;
}

li a {
    color: black;
    font-size: 1.5rem;
}

li:hover {
    cursor: pointer;
}

ul li {
    background: white;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 17rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    right: 4px;
    left: auto;
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    background: #f5f5f5;
    clear: both;
    width: 100%;
}

.img1 {
    width: 3rem;
    height: 3rem;
}
