html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    font-family: "Lucida Console", monospace;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.scroll {
    overflow: hidden;
}

.ReportItem {
    background-image: url(../svg-assets/report-an-item.svg);
    background-repeat: no-repeat;
    background-position: 0 80%;
}

.container {
    display: flex;
    flex-direction: row;
}
.details {
    padding: 3% 0% 0% 5%;
    height: 100vh;
    width: 70%;
}

h1 {
    font-size: 7rem;
}

.reportitem_label {
    display: block;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.reportitem_input {
    display: block;
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 0.5rem;
}

.location {
    width: 45%;
}

.reportitem_textarea {
    font-size: 2rem;
    display: block;
    width: 50%;
    min-height: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.small {
    display: inline-block;
}
.btn {
    display: inline;
    padding: 1.5rem 2.5rem;
    background-color: #ffffff;
    box-shadow: 6px 6px 0 #404040;
    border: solid black 1px;
    transition: all 0.15s linear 0s;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2%;
    /*margin-right: 4%;*/
    font-size: 2.5rem;
}
.btn:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0 #404040;
}

.btn:active {
    transform: translate(6px, 6px);
    box-shadow: none;
}

.right {
    margin-left: 4%;
}

.reportitem_span {
    padding: 0 3rem 0;
    margin-right: 2rem;
}

.reportitem_img {
    align-self: center;
    width: 486px;
    height: 475px;
    border: 1px solid black;
}

.heading {
    padding-top: 0;
    margin-top: 0;
}
.navigation {
    font-family: monospace;
    position: absolute;
    top: 0;
    right: 1rem;
}

ul {
    /*background: #f5f5f5;*/
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: black;
    display: block;
    float: left;
    padding: 1.5rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: black;
    font-size: 1.5rem;
}

li:hover {
    cursor: pointer;
}

ul li {
    background: white;
    /*min-width: 19rem;*/
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    /*min-width: 19rem;*/
    /*width: 10rem;*/
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    right: 4px;
    left: auto;
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    background: #f5f5f5;
    min-width: 18rem;
    clear: both;
    width: 100%;
}

.img1 {
    width: 3rem;
    height: 3rem;
}
