* {
    box-sizing: border-box;
    font-family: 'Lucida Console', monospace;
    overflow: auto;
}
body {
    background-image: url(../svg-assets/login-man-bg.svg);
    background-repeat: no-repeat;
    background-position: 20px 0px;
}

.login {
    font-size: 60px;
    padding: 5% 5% 3% 5%;
}

label,
input {
    display: block;
}

.form-list {
    padding-left: 5%;
    font-size: 30px;
}

input {
    padding: 10px;
    border: 2px solid grey;
    width: 400px;
    margin-right: 50px;
    margin-bottom: 1%;
    font-size: 20px;
}

label {
    margin-bottom: 30px;
}

span {
    font-size: 25px;
    padding-left: 5%;
    color: grey;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: grey;
}

a:hover {
    text-decoration: underline;
}
.btn {
    display: block;
    padding: 15px 25px;
    background-color: #ffffff;
    box-shadow: 6px 6px 0 #404040;
    border: solid black 1px;
    transition: all 0.15s linear 0s;
    position: relative;
    margin-bottom: 2%;
    font-size: 20px;
}
.btn:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0 #404040;
}

.btn:active {
    transform: translate(6px, 6px);
    box-shadow: none;
}
