* {
    box-sizing: border-box;
    font-family: 'Lucida Console', monospace;
}

body {
    background-image: url(./SVG/sign-up-woman.svg);
    background-repeat: no-repeat;
    background-position: 1200px 50px;
}

.signup {
    font-size: 60px;
    padding: 5% 5% 0% 5%;
}

label, input {
    display: block;
}

.form-list {
    padding-left: 5%;
    font-size: 30px; 
}

.optional {
    color: grey;
    font-size: 20px;
    font-style: italic;
}

input {
    padding: 10px;
    border: 2px solid grey;
    width: 400px;
    margin-right: 50px;
    font-size: 20px;
}

label {
    margin-bottom: 30px;
}

.sideform {
    display: inline-block;
}

