html {
    box-sizing: border-box;
}

* {
    font-family: "Lucida Console", monospace;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.scroll {
    overflow: hidden;
}

.UserDashboardPage {
    background-image: url(../svg-assets/user-dashboard.svg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    margin: auto;
    position: relative;
}

.container {
    margin: 1% 5% 1rem 10%;
    padding: 2% 2% 3% 2%;
    border: 1px solid #786c78;
    border-radius: 2rem;
    width: 40%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(10px);
    /*background-color: white;*/
}

.heading {
    /*text-align: left;*/
    margin-left: 20rem;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.profile {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 20rem;
    height: 20rem;
    /*padding-left: 4rem;*/
}

.navigation {
    font-family: monospace;
    position: absolute;
    top: 0;
    right: 1rem;
}

.user_details {
    position: relative;
    font-size: 4rem;
    /*padding-top: 2rem;*/
    /*padding-left: 10%;*/
}

.bottom_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*.userinfo {*/
/*position: relative;*/
/*top: 2rem;*/
/*font-size: 10rem;*/
/*}*/

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.btn_entry {
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: #ffffff;
    box-shadow: 6px 6px 0 #404040;
    border: solid black 1px;
    transition: all 0.15s linear 0s;
    position: relative;
    margin-bottom: 2rem;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    align-content: center;
}
.btn_entry:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0 #404040;
}

.btn_entry:active {
    transform: translate(6px, 6px);
    box-shadow: none;
}

/*.logout {*/
/*top: 4rem;*/
/*}*/

.details {
    font-size: 2.5rem;
    color: grey;
}
/*.bottom_btn .btn_entry {*/
/*margin-right: 2rem;*/
/*}*/
.img1 {
    width: 3rem;
    height: 3rem;
}
.admin_things {
    display: flex;
    flex-direction: column;
    align-content: center;
}

input[type="file"] {
    display: none;
}

.file_upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
